 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			CV Pablo web - Biografía
		</title>
        <meta name="author" content="Pablo Hernandez">
        <meta name="description" content="En esta página web se muestra el contenido de la experiencia profesional del estudiante Pablo Hernandez">
        <meta name="keywords" content="cv, student, developer">
        <link rel="stylesheet" href="/Assets/fonts/Royal Riot.otf">
	</head>
	<body>
        <h1 class="title">
            BIOGRAFIA
        </h1>

        <a href="../mppw.html">
            <b>
                Home
            </b>
        </a>

        <article>
            <p>
                Google
            </p>
            <blockquote cite="https://www.google.com">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore culpa alias porro, sed, aliquid ea totam corporis repellendus, atque iure voluptas consequuntur. Excepturi dolores explicabo iure autem inventore placeat recusandae?
            </blockquote>
        </article>

        <img width="200px" src="../Assets/pdf1.png">
        <a href="../Assets/pdf1.png" download>
            <b>
                Descargar CV
            </b>
        </a>

        <pre>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod facilis qui provident numquam recusandae illo non doloribus deserunt dolorum iure voluptate, reprehenderit vel corrupti? Unde amet similique illum repudiandae corrupti.
            <code>
                a + b = ?

                &lt; H1 &gt;

                &#169;

                &#128517;
            </code>
        </pre>



    </body>
</html>